<div class="container my-5">
	<!-- Footer -->
	<footer
		class="text-center text-lg-start text-white"
		style="background-color: #1c2331">
		<!-- Section: Social media -->
		<section
			class="d-flex justify-content-between p-4"
			style="background-color: #5e2fdf">
			<!-- Left -->
			<div class="me-5">
				<span>CREATE TOURNAMENT by Ngơ Ngơ</span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div class="social-media">
				<a href="" class="text-white me-4">
					<i class="bx bxl-facebook-square fs-3"></i>
				</a>
				<a href="" class="text-white me-4 fs-3">
					<i class="bx bxl-github"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold">Ngơ ngơ</h6>
						<hr
							class="mb-4 mt-0 d-inline-block mx-auto"
							style="
								width: 60px;
								background-color: #7c4dff;
								height: 2px;
							" />
						<p>Với tất cả những gì đã làm, không thích về nhì.</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold">Our Team</h6>
						<hr
							class="mb-4 mt-0 d-inline-block mx-auto"
							style="
								width: 60px;
								background-color: #7c4dff;
								height: 2px;
							" />
						<p>
							<a href="#!" class="text-white">Bùi Công Thiện</a>
						</p>
						<p>
							<a href="#!" class="text-white">Nguyễn Minh Nhật</a>
						</p>
						<p>
							<a href="#!" class="text-white">Huỳnh Anh Tuấn</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold">Useful links</h6>
						<hr
							class="mb-4 mt-0 d-inline-block mx-auto"
							style="
								width: 60px;
								background-color: #7c4dff;
								height: 2px;
							" />
						<p>
							<a href="#!" class="text-white">Your Account</a>
						</p>
						<p>
							<a href="#!" class="text-white"
								>Become an Affiliate</a
							>
						</p>
						<p>
							<a href="#!" class="text-white">Shipping Rates</a>
						</p>
						<p>
							<a href="#!" class="text-white">Help</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div
						class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold">Contact</h6>
						<hr
							class="mb-4 mt-0 d-inline-block mx-auto"
							style="
								width: 60px;
								background-color: #7c4dff;
								height: 2px;
							" />
						<p><i class="fas fa-home mr-3"></i> IT HUTECH K21</p>
						<p>
							<i class="fas fa-envelope mr-3"></i>
							buicongthien.01@gmail.com
						</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div
			class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2)">
			© 2023 Copyright:
			<a class="text-white" href="https://mdbootstrap.com/"
				>createtour.com</a
			>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>
<!-- End of .container -->
