@import "../../shared/variable.scss";

.user--wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user--form {
	width: 600px;
	height: 450px;
	padding: 24px 24px;
	border: 1px solid #cecece;
	border-radius: 8px;
}
.form--header {
	text-align: center;
}

.btn-custom {
	width: 100%;
	background-color: $primary;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in;
	&:hover {
		opacity: 0.8;
	}
}
