<div class="auth--wrapper">
	<div class="restore-password">
		<h4 class="text-center">Khôi phục mật khẩu</h4>
		<form #form="ngForm">
			<div class="form-group">
				<!-- Email input -->
				<div class="form-outline mb-4">
					<label class="form-label" for="email">Email</label>
					<input
						[(ngModel)]="user.email"
						name="email"
						type="email"
						id="email"
						class="form-control" />
				</div>
				<!-- Submit button -->
				<a class="btn mb-4 w-100 btn-auth" (click)="restore()">
					Khôi phục mật khẩu
				</a>
				<!-- Register buttons -->
				<div class="text-center">
					<p>
						Chưa có tài khoản ? <a href="/auth/register">Đăng ký</a>
					</p>
				</div>

				<!-- <p>or sign up with:</p> -->
				<!-- <button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-facebook-f"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-twitter"></i>
				</button>

				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-github"></i>
				</button> -->
			</div>
		</form>
	</div>
</div>
