@import "../../../shared/variable.scss";

.auth--wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: $primary;
}

.login {
	border: 1px solid $primary;
	border-radius: 12px;
	padding: 40px 50px;
	width: 500px;
	background-color: white;
}

.btn-auth {
	background-color: $primary;
	color: white;
	font-weight: 450;
}

.toast-title {
	font-size: 18px;
	font-weight: 500;
}
.toast-message {
	font-size: 16px;
	font-weight: 400;
}
